.location {
    color: #ffffff;
}

.userType {
    color: #0084ff;
}

.inputLine {
    display: block;

    form {
        display: inline-block;
        width: calc(100% - 24px);

        .content {
            width: 100%;
        }
    }

    .prefix {
        display: inline-block;
        vertical-align: top;
        width: 19px;
        
        .location {
            margin-right: 3px;
        }
    }

    .content {
        background-color: #232323;
        border: 0;
        color: #ffffff;
        display: inline-block;
        margin-left: 5px;
        padding: 0;
        width: calc(100% - 24px);

        &:focus {
            outline-width: 0;
        }
    }
}

@keyframes inputLinkBlink {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}