.terminal {
    background-color: #232323;
    color: white;
    border: 10px solid #3a3a3a;
    min-height: calc(100% - 40px);
    min-width: calc(100% - 40px);
    padding: 10px;
}

.hb {
    display: hidden;
}