$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

@mixin mobile {
    @media (max-width: 767px) { @content; }
}

@mixin tabletUp {
    @media (min-width: 768px) { @content; }
}

@import '../inputLine/inputLine';
@import '../terminal/terminal';
@import '../../blogs/blogPost';
@import '../../projects/project';
@import '../../responses/responses';
@import '../../responses/contactMe/contactMe';
@import '../../responses/hunter/hunter';
@import '../../responses/resume/resume';
@import '../../responses/splash/splash';
@import '../../responses/thinking/thinking';
@import '../../responses/twiggle/twiggle';

html, body, #app, .appWrapper {
    font-family: 'Inconsolata', monospace;
    height: 100%;
    margin: 0;
    width: 100%;
}

img {
    border: 2px solid #ffffff;
}

a, a:link, a:visited, a:active, a:hover {
    color: #007cff;
}

p {
    display: block;
    margin: 0 0 2px 0;
}

ul {
    margin: 0;
    padding: 0 0 0 15px;
}

div, p, span {
    word-wrap: normal;
}

input {
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
}

.hidden {
    display: none !important;
}