doctype html
html(lang="en")
  head
    title Hunter Sadler
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet")
body
  #app