.resume {
    .title {
        font-weight: bold;
    }

    .resumeSection {
        .description {
            ul {
                margin-left: 5px;
            }
        }

        .name {
            font-weight: bold;
        }

        .information {
            font-style: italic;
        }
    }

    .opener, .title, .resumeSection, .ps {
        margin: 0 0 5px 0;
    }

    margin: 0 0 5px 0;
}