.hunter {
    align-items: top;
    display: flex;
    margin: 10px 0px;

    @include mobile {
        flex-direction: column;
    }

    .picture {
        height: 478px;
        width: 300px;

        @include mobile {
            margin: 0 0 10px 0;
        }
    }

    .content {
        @include mobile {
            margin: 0;
            width: 100%;
        }

        @include tabletUp {
            margin: 0 0 0 10px;
            width: calc(100% - 320px);
        }

        span {
            font-weight: bold;
        }

        .opener, .programming {
            margin: 0 0 10px 0;
        }
    }
}